:root {
    --light: #b4ddd8;
    --dark: #2d5261;
}
* {
    /*border: 1px solid black;*/
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    background-color: var(--light);
    height: 100vh;
    overflow: clip;
    margin: 0;
}
main {
    border: 2px solid black;
}
main, #item-editor-window {
    width: min(500px, 90%);
    margin: auto;
    padding: 20px 0;
    border-radius: 10px;
    height: calc(100vh - 180px);
}
#import-from-csv {
    position: absolute;
    top: 5px;
    left: 5px;
    width: min(300px, 90%);
}
#csv-import-btn {
    top: 0;
    left: 0;
}
#upload-csv:not(.hidden) {
    top: 30px;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    background: var(--dark);
    color: white;
}
#csv-file {
    width: 100%;
}
h1 {
    font-family: "Bebas Neue", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    padding: 40px 0 0 0;
}
#groceries-holder {
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: scroll;
}
table {
    width: 100%;
}
tr:hover {
    background-color: var(--dark);
    color: white;
}
td, th {
    padding: 10px;
}
th {
    text-align: right;
}
td {
    text-align: left;
}
i {
    font-size: 25px;
}
i:hover {
    cursor: pointer;
    text-shadow: 0.5px -0.5px 3px black;
}
i:active {
    color: red;
}
button {
    font-family: "Josefin Sans", Calibri, "Trebuchet MS", sans-serif;
    font-size: 1.1em;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    background-color: var(--dark);
    color: white;
    border: 1.5px solid var(--dark);
    border-radius: 5px;
}
button:hover {
    color: var(--dark);
    background-color: white;
}
#confirm-btn, #submit-csv-btn {
    background-color: var(--light);
    color: black;
    border-color: black;
}
#confirm-btn:hover, #submit-csv-btn:hover {
    background-color: white;
}
#item-editor-window:not(.hidden) {
    position: absolute;
    top: 126px;
    background-color: var(--dark);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cancel-btn, #cancel-upload-btn {
    color: red;
    position: absolute;
    right: 10px;
    top: 10px;
}
.hidden {
    display: none;
}
label {
    line-height: 1.5em;
}
input, label {
    padding: 10px;
    margin-top: 20px;
    display: block;
    font-size: 1.1em;
    text-align: center;
}
input {
    font-family: "Josefin Sans", Calibri, "Trebuchet MS", sans-serif;
}
.important {
    text-transform: uppercase;
    color: red;
    font-weight: bold;
}
@media screen and (max-width: 840px) {
    #csv-import-btn {
      position: initial;
    }
  }